*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'terminal', sans-serif;
}

.angel {
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-image: url('/static/resources/spce.gif');
}